body{
	width: 100%;
	height: 150vh;
	margin: 0;
	padding: 0;
	background: url(hotelllll.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: Quicksand;
}

.avatar 
   {
   	
	width: 70px;
	height: 70px;
	border-radius: 100%;
	position: center;
	top: 10%;
	padding: 0 0 1px;
   }

.login-box{
	width: 300px;
	height: 420px;
	background: rgba(0,0,0,0.5);
    color: 50%;
    top: 80%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 70px;
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.login-box{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #800000;
}

.login-box input{
	width: 100ox;
	margin-bottom: 20px;
}

.login-box input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.login-box input[type="submit"]
{
	border: none;
	outline:none;
	height: 40px;
	background: #1c8adb;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.login-box input[type="submit"]:hover
{
	cursor: pointer;
	background: #3ddd79;
	color: #000;
}

.login-box a{
	padding: 30px;
	text-decoration: none;
	font-size: 14px;
	color: #fff;
}

.login-box a:hover
{
	color: #39dc79;
}